---
layout: blog-base.njk
title: Blog
permalink: /blog/
---

<div class="grid gap-8">
    {%- for post in collections.blog | reverse -%}
    <div class="bg-gradient-to-bl from-neon-green to-neon-green-accent rounded-lg p-1">
        <div class="bg-button-purple rounded-lg p-6 hover:bg-button-purple-hover transition-colors">
            <a href="{{ post.url }}" class="block">
                <h2 class="text-2xl text-neon-green mb-2">{{ post.data.title }}</h2>
                {% if post.data.description %}
                <p class="text-gray-300">{{ post.data.description }}</p>
                {% endif %}
            </a>
        </div>
    </div>
    {%- endfor -%}
</div> 